@(anuncios: List[Anuncio])

<html lang="">
    <head>
        <title>Help Musics</title>
        <meta charset="UTF-8">
        <meta name=description content="">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
    <div class="container">
        <!-- Navbar -->
        <ul class="nav nav-tabs">
            <li >
                <a href="@routes.Application.anuncios()">Lista de Presentes</a>
            </li>

        </ul>

        <div class="jumbotron">
            <h1>Bem vindos ao Help Music</h1>
            <p>Crie seu anúncio</p>
        </div>
    </div>
        <div class="col-sm-1"></div>
		<div class="col-sm-10">
        <h2>Criar Anúncio</h2>
        <form action="@routes.Application.newAnuncio()" method="post">
        <label for="nome"> Nome: </label>
            <input type="text" name="nome" id="nome" class="form-control" required="required">
	    <label for="link"> Link: </label>
            <input type="text" name="link" id="link" class="form-control" required="required">

            <br>
        <input type="submit" class="btn btn-success btn-mini" value="Adicionar à lista">
        </form>
        </div>


        <!-- jQuery -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    </body>
</html>



<ul>
    
</ul>

    
